{% extends "base.html" %}
{% block title %}My Events{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='my_events/css/style.css') }}">
{% endblock %}

{% block content %}
<div class="events-container">
  <h2>My Events</h2>
  {% if events %}
  <ul class="events-list">
    {% for event in events %}
    <li class="event-item">
      <!-- Event Banner -->
      <div class="event-banner-container">
        {% if event.banner_image %}
        <img class="event-banner" src="{{ url_for('uploads.serve_event_image', event_id=event.id, filename=event.banner_image) }}" alt="{{ event.name }} Banner">
        {% else %}
        <div class="event-banner-placeholder">
          <span>No Banner</span>
        </div>
        {% endif %}
      </div>

      <!-- Event Details -->
      <div class="event-details">
        <strong>{{ event.name }}</strong>
        <p><span>Date:</span> {{ event.event_date }}</p>
        <!-- <p><span>Location:</span> {{ event.location }}</p>
        <p><span>Category:</span> {{ event.category }}</p>
        <p>{{ event.description }}</p> -->
      </div>

      <!-- Event Actions -->
      <div class="event-actions">
        <a href="{{ url_for('event.get_event_route', event_id=event.id) }}" class="action-button view-button">
          <span class="icon">👁️</span> View Details
        </a>
        <a href="#" data-event-id="{{ event.id }}" class="action-button delete-button">
          <span class="icon">🗑️</span> Delete Event
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="no-events">You have no events yet. <a href="{{ url_for('event.create_event_route') }}">Create one now!</a></p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='my_events/js/script.js') }}"></script>
{% endblock %}